{{ define "style" }}
<style>
   tr:nth-of-type(odd) { background-color:#ccc; }
    *{
    background-image: url("./background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
   }
</style>
{{ end }}

<!-- include base template -->
{{ template "base" }}

<body>

Hospital index:<br><br>
<table>
{{range .}}
    <tr>
    <td> <a href="/patients/show?code={{.Code}}">{{.Code}}</a> </td>
    <td> {{.Firstname}} </td>
    <td> {{.Lastname}} </td>
    <td> {{.Address}} </td>
    <td> {{.Gender}} </td>
    <td> {{.Bdate}} </td>
    <td> {{.Phonenumber}} </td>
    <td> <a href="/patients/delete_patient?code={{.Code}}">Del</a> </td>
    </tr>
{{end}}
</table>
<br>
<a href="/patients/create_patient">Add Patient</a>
<br>
<a href="patients/search_patient">Search_Patient</a>
</body>
</html>

